@import 'tailwindcss';
@tailwind utilities;

@theme {
  --color-primary-bg: #2C1B47;
  --color-primary-menu: #00838F;
  --color-secondary-menu: #00695C;
  --color-secondary: #D5B4E7;

}

.auth-container {
  @apply min-h-screen flex items-center justify-center bg-[#2C1B47] p-4;
}
.auth-form {
  @apply w-full max-w-sm bg-white p-6 rounded-lg shadow-md
}
.auth-form h2 {
  @apply text-2xl font-bold mb-6 text-center text-[#0B0205]
}
.auth-form label {
  @apply block text-sm font-medium text-gray-700
}
.auth-form input {
  @apply w-full p-2 border border-gray-300 rounded-md mb-1 focus:outline-none focus:ring-2 focus:ring-[#0B0205]
}
.auth-form button {
  @apply w-full bg-[#0B0205] text-white py-2 rounded-md hover:bg-[#1A0D0A] transition-colors
}
.auth-form .error {
  @apply text-red-500 text-sm mt-2
}
.auth-form .success {
  @apply text-green-500 text-sm mt-2
}
.app-container {
  @apply min-h-screen flex bg-[#2C1B47] p-4;
}